*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.header{
  background: #ecb3b9;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburguer{
  display: none;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  margin-left: 2rem;
}
.nav-link{
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 1.3rem;
  color: #475569;
  padding:1rem;
}
.nav-link:hover{
  background: #3F8A89;
  color: #FFF;
}
.nav-logo{
  font-size: 1.6rem;
  font-weight: 400;
  color: #3F8A89;
}
.Promesa{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}


.col-3{
  display: block;
  width: 25%;
  margin: 3em 3em;
  background: #3F8A89;
  color: #FFF;
  border-radius: 1em;
  text-align: center;
  height: 50vh;
}
.col-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
  transition: all .5s;
}
.contenido{
  width: 90%;
  height: auto;
  background: #3F8A89;
  margin-top: -70%;
  margin-left: 1em;
  border-radius: 1em;
  color: #FFF;
  clip-path: circle(0% at 50% 50%);
  transition: all .5s;
}
.col-3:hover .contenido{
  clip-path: circle(100% at 50% 50%);
}
.col-3:hover img{
  filter: blur(10px) brightness(.6);
  transform: scale(1.1);
}
.contenido h2, .contenido p{
  margin-left: 1em 0;
}
h1{
  font-family: 'Tinos',serif;
  font-weight: 700;
  text-align: center;
  color: #3F8A89;
  margin: 1em 0;
}
h2{
  font-family: 'Tinos', serif;
  font-weight: 700;
  text-align: center;
}
p{
  font-family: 'Tinos', serif;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 1em 2em;
}

.copy{
  height: 5em;
  padding-top: 0.7em;
  text-align: center;
  background: #FD794F;
  color: #FFF;
}
@media only screen and (max-width:600px){
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 3.5rem;
    flex-direction: column;
    background-color: #ecb3b9;
    width: 100%;
    border-radius: .1rem;
    text-align: center;
    transition: .3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 999;
  }
  .nav-menu.active{
    left: 0;
  }
  .nav-item{
    margin: 2.5rem 0;

  }
  .hamburguer{
    display: block;
    cursor: pointer;
  }
  .Promesa{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }


  .col-3{
    display: block;
    width: 100%;
    margin: 3em 3em;
    background: #3F8A89;
    color: #FFF;
    border-radius: 1em;
    text-align: center;
    height: 50vh;
  }
  .col-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
    filter:brightness(.4);
    transition: none;
  }
  .contenido{
    width: 90%;
    height: 80%;
    background: #3F8A89;
    margin-top: -90%;
    margin-left: 1em;
    border-radius: 1em;
    color: #FFF;
    clip-path: circle(100% at 50% 50%);
    transition: all .5s;
  }
  .col-3:hover .contenido{
    clip-path: circle(100% at 50% 50%);
  }
  .col-3:hover img{
    filter:brightness(.4);
    transform: scale(1);
  }
  .contenido h2, .contenido p{
    margin-left: 1em 0;
  }
  h1{
    font-family: 'Tinos',serif;
    font-weight: 700;
    text-align: center;
    color: #3F8A89;
    margin: 1em 0;
  }
  h2{
    font-family: 'Tinos', serif;
    font-weight: 700;
    text-align: center;
  }
  p{
    font-family: 'Tinos', serif;
    font-weight: 400;
    margin-bottom: 1em;
    padding: 1em 2em;
  }

  .copy{
    height: 6em;
    font-size: 1.2em;
    padding-top: 0.8em;
    text-align: center;
    background: #FD794F;
    color: #FFF;
  }
}
